body {background:#232323; padding:60px; font-family:Arial;}
.main_panel{ 
    background: #fefefe; 
    padding:30px;
    color: #4e4e4e;
    border:1px solid black;
    font-size: 12px;}
.statement input {
    border-width: 0px 0px 1px 0px;
    color:black;
    font-size:14px;
}
.emphasize{
    border-bottom: 1px dotted gray;
}
.top{
    color:white;
    font-size:12px;
}

.top_text{
    background:#eee;
    color:black;
    padding:30px;
    font-size:24px;
    border:1px solid black;
    
}

a.user:link    { color:white; text-decoration:underline; }
a.user:visited { color:white; text-decoration:none; }
a.user:hover   { color:white; text-decoration:underline; }
a.user:active  { color:red; text-decoration:none; }

div.greeting{
    padding: 1px 5px 1px 5px;    
}

div.navigation{
    padding: 1px 5px 1px 5px;
}

div.navigation a:link    { color:white; text-decoration:underline; }
div.navigation a:visited { color:white; text-decoration:none; }
div.navigation a:hover   { color:white; text-decoration:underline; }
div.navigation a:active  { color:red; text-decoration:none; }

