.statement input {
    border-width: 0px 0px 1px 0px;
    color:black;
    font-size:14px;
}
.emphasize{
    border-bottom: 1px dotted gray;
}


.add_item input{
    width:90%;
}

.add_item textarea{
    width:90%;
}

.add_item div{
    padding-bottom:10px;
}

.edit_field{
    width:94%;
    padding:10px;
    background-color:#eee;
    margin-bottom:4px;
}
