{% extends "base.htm" %}

{% block navigation %}
<a href='/'>Home</a> > <a href='/view'>View Items</a> > Add Item
{% endblock %}


{% block top_text %}
So tell us {{user.nickname}}...  This is what you got:
{% endblock %}

{% block main_panel %}
<form action="/items/add" method="post">
    <div>
    Title:<br/>
    <input type='text' name="title" id="title"></input>
    </div>
    <div>
    Description:<br/>
    <textarea rows=5 cols=100 name="comment" id="comment"></textarea>
    </div>
    <input type='submit' value="Add"/>
</form>
{% endblock %}