{% extends "base2.htm" %}

{% block navigation %}

<li><a>></a></li> 
<li><a href='{{ parent_url }}'> {{username}}'s Items </a></li>
<li><a>></a></li> 
<li class="active"><a>Add Item</a></li>
{% endblock %}


{% block top_text %}
<h1>What changed your life?</h1>
{% endblock %}

{% block main_panel %}
<form class="add_item" action="/items/add" method="post">
    
    <div class="edit_field">
        Short Description:<br/>
        <input type='text' name="title" id="title"></input>
    </div>
    
    <div class="edit_field">
        Details:<br/>
        <textarea rows=5 name="comment" id="comment"></textarea>
    </div>
    
    <div class="edit_field">
        Tags:<br/>
        <input type='text' name="tags" id="tags"></input>
    </div>
    
    <div class="edit_field">
        Can you summarlize the problem this solved for you?<br/>
        <input type='text' name="problem" id="problem"></input>
    </div>
    
    <input type='submit' value="Add"/>
</form>
{% endblock %}

{% block right_panel %}
<div>
    Are there products, things, events, movies or anything else that really changed your life for the better?  Is it something everyone should know about?  Post if here!
</div>
{% endblock %}