{% extends "base2.htm" %}

{% block navigation %}

<li><a>></a></li> 
<li><a href='{{ parent_url }}'> {{username}}'s Items </a></li>
<li><a>></a></li> 
<li class="active"><a>Add Item</a></li>
{% endblock %}


{% block top_text %}
<h1>What changed your life?</h1>
{% endblock %}

{% block main_panel %}
<form class="add_item" action="/items/add" method="post">
    
	<div class="clearfix">
		<label for="xlInput">Short Description:</label>
		<div class="input">
			<input class="xlarge" id="title" name="title" size="30" type="text"/>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="xlInput">Details:</label>
		<div class="input">
			<textarea class="xxlarge" id="comment" name="comment" rows="3"></textarea>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="xlInput">Tags:</label>
		<div class="input">
			<input class="xlarge" id="tags" name="tags" size="30" type="text"/>
		</div>
	</div>
    
	<div class="clearfix">
		<label for="xlInput">Can you summarlize the problem this solved for you?</label>
		<div class="input">
			<textarea class="xxlarge" id="problem" name="problem" rows="3"></textarea>
		</div>
	</div>
	    
    <input class="btn primary span2" type='submit' value="Add"></input>
</form>
{% endblock %}

{% block right_panel %}
<div>
    Are there products, things, events, movies or anything else that really changed your life for the better?  Is it something everyone should know about?  Post if here!
</div>
{% endblock %}