{% extends "base2.htm" %}

{% block top_text %}
What Changed My Life<br/>
<small>Stuff you actually want to share...</small>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block right_panel %}
<h3>Huh???</h3>
<p>
<img src='/images/mant-emo/strive.png'/><br/>
OK, WTF?  Really?  Another sharing site?  Oh...  Whoa...  this is actually pretty relevant...  hmmm...  do they know about...  waaaait a second...  This is good..  Hell, this is really $^%#ing good.  Damn.  I doubt thee not!

</p>
<div>
     {% for tag in tags %}
    <span class="label notice">{{tag.name}}</span>
    {% endfor %}
</div>
{% endblock %}

{% block main_panel %}
<div>
{% include "list_items_snippet.htm" %}
</div>
{% endblock %}
