<ul>
    
    
    
    <div class='record_nav'>
        {% if prevuri %}
        <a href='{{prevuri}}'><<</a>
        {% endif %}
        
        {% if page %}
        Page {{page}}
        {% endif %}
        
        
        {% if nexturi %}
        <a href='{{nexturi}}'>>></a>
        {% endif %}
    </div>
    <hr/>
    
    
    {% for d_item in items %}
    <div class="row">
		<h3><a href="/item/{{d_item.id}}/{{ d_item.title|escape }}">{{d_item.title}}</a></h3>
		<p>{{d_item.comment}}</p>
        {% if d_item.tags %}
        <p>Tags: {{d_item.tags}}</p>
        {% endif %}

        {% for tag in d_item.tag_strings %}
            <div>{{tag}}</div> 
        {% endfor %}
        <p>Posted by {{d_item.username}}</p>
        <hr/>
	</div>
    {% endfor %}


    <div class='record_nav'>
        {% if prevuri %}
        <a href='{{prevuri}}'><<</a>
        {% endif %}
        
        {% if page %}
        Page {{page}}
        {% endif %}
        
        
        {% if nexturi %}
        <a href='{{nexturi}}'>>></a>
        {% endif %}
            <hr/>
    </div>



</ul>
