<ul>
    {% if prevuri %}
    <a href='{{prevuri}}'><<</a>
        {% endif %}
        
        {% if page %}
        Page {{page}}.
        {% endif %}
        
        
        {% if nexturi %}
        <a href='{{nexturi}}'>Next</a>
        {% endif %}

    
    {% for d_item in items %}
    <div class="row">
		<h3><a href="/item/{{d_item.id}}/{{ d_item.title|escape }}">{{d_item.title}}</a></h3>
		<p>{{d_item.comment}}</p>
        {% if d_item.tags %}
        <p>Tags: {{d_item.tags}}</p>
        {% endif %}
        <p>Posted by {{d_item.username}}</p>
        <hr/>
	</div>
    {% endfor %}

    {% if prevuri %}
    <a href='{{prevuri}}'><<</a>
    {% endif %}

    {% if page %}
        Page {{page}}.
    {% endif %}


    {% if nexturi %}
    <a href='{{nexturi}}'>Next</a>
    {% endif %}
</ul>
