{% extends "base2.htm" %}

{% block navigation %}
<li><a href='/'>></a></li>
<li><a>Your Profile</a></li>
{% endblock %}

{% block top_text %}
<h1>Please adjust your profile.</h1>
{% endblock %}

{% block main_panel %}
<div>
<form action="/profile" method="post">
    Username:
    <input type='text' name='username' id='username' value='{{username}}'></input>
    <input type='submit' value='Set'/>    
</form>
</div>
{% endblock %}


{% block right_panel %}
<p>You.  Are.  Awesome.</p>
{% endblock %}
