{% extends "base.htm" %}

{% block head %}
<script src="/js/view_item.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/view_item.css" />

{% endblock %}


{% block navigation %}
<a href='/'>WhatChangedMyLife</a> > <a href='{{ parent_url }}'>Items</a> > Item
{% endblock %}


{% block top_text %}
<h1>{{item.title}}</h1>
{% endblock %}

{% block main_panel %}


<div id="view">
    
    <div>
        {{item.comment}}
    </div>
    {% if user_can_edit %}
    <div style="padding-top:25px">
        <a href="#" id='edit_button'>Edit</a>
    </div>
    {% endif %}
</div>

<div id="edit">
    <form action="{{item_url}}" method="post">
        <div>
            Title:<br/>
            <input style="width:100%" type='text' name="title" id="title" value="{{item.title}}"></input>
        </div>
        <div>
            Description:<br/>
            <textarea rows=5 style="width:100%" name="comment" id="comment" >{{item.comment}}</textarea>
        </div>
        <input type='submit' value="Submit"/>
        <a href="#" id='cancel_edit'>Cancel</a>
    </form>
</div>
{% endblock %}
