{% extends "base2.htm" %}

{% block head %}
<script src="/js/view_item.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/view_item.css" />

{% endblock %}


{% block navigation %}
<li><a href='/'>></a> </li>
<li><a href='{{ parent_url }}'>{{username}}'s Items</a> </li>
<li><a>></a> </li>
<li class="active"><a>Item</a></li>
{% endblock %}


{% block top_text %}
<h1>{{item.title}}</h1>
{% endblock %}

{% block main_panel %}

<div class="span9" id="view">
    
    <div class="comment">
        {{item.comment}}
    </div>

    {% if item.tags %}
    <div class="tags">
        Tags: {{item.tags}}
        </div>
    {% endif %}
    
    {% if item.problem %}
    <div class="problem">
        Problem: {{item.problem}}
        </div>
    {% endif %}
    
    {% if user_can_edit %}
    <a href="#" id='edit_button'><button class="btn primary">Edit</button></a>
    {% endif %}
</div>

<div id="edit">

<form action="{{item_url}}" method="post">
    
	<div class="clearfix">
		<label for="xlInput">Short Description:</label>
		<div class="input">
			<input class="span7" id="title" name="title" size="30" type="text" value="{{item.title}}"/>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="xlInput">Description:</label>
		<div class="input">
			<textarea class="span7" id="comment" name="comment" rows="3">{{item.comment}}</textarea>
		</div>
	</div>
	
	<div class="clearfix">
		<label for="xlInput">Tags:</label>
		<div class="input">
			<input class="span7" id="tags" name="tags" size="30" type="text" value="{{item.tags}}"/>
		</div>
	</div>
    
	<div class="clearfix">
		<label for="xlInput">Can you summarlize the problem this solved for you?</label>
		<div class="input">
			<textarea class="span7" id="problem" name="problem" rows="3">{{item.problem}}</textarea>
		</div>
	</div>
	<div style="float:right;padding-right:30px;">
		<input class="btn primary" type='submit' value="Submit"></input>
		<a href="#" id='cancel_edit'><button class="btn default">Cancel</button></a>
	</div>
</form>

</div>
{% endblock %}

{% block right_panel %}
<img src='/images/mant-emo/laugh.png'/><br/>
<p>Someday, you may even be able to vote for these things...</p>
{% endblock %}

