{% extends "base2.htm" %}

{% block head %}
<script src="/js/view_item.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/view_item.css" />

{% endblock %}


{% block navigation %}
<li><a href='/'>></a> </li>
<li><a href='{{ parent_url }}'>{{username}}'s Items</a> </li>
<li><a>></a> </li>
<li class="active"><a>Item</a></li>
{% endblock %}


{% block top_text %}
<h1>{{item.title}}</h1>
{% endblock %}

{% block main_panel %}


<div id="view">
    
    <div class="comment">
        {{item.comment}}
    </div>

    {% if item.tags %}
    <div class="tags">
        Tags: {{item.tags}}
        </div>
    {% endif %}
    
    {% if item.problem %}
    <div class="problem">
        Problem: {{item.problem}}
        </div>
    {% endif %}
    
    {% if user_can_edit %}
    <div style="padding-top:25px">
        <a href="#" id='edit_button'>Edit</a>
    </div>
    {% endif %}
</div>

<div id="edit">
    <form action="{{item_url}}" method="post">
        <div class="edit_field">
        Title:<br/>
        <input style="width:100%" type='text' name="title" id="title" value="{{item.title}}"></input>
        </div>

        <div class="edit_field">
        Description:<br/>
        <textarea rows=5 style="width:100%" name="comment" id="comment" >{{item.comment}}</textarea>
        </div>
        
        <div class="edit_field">
        Tags:<br/>
        <input style="width:100%" type='text' name="tags" id="tags" value="{{item.tags}}"></input>
        </div>
            
        <div class="edit_field">
        Problem:<br/>
        <input style="width:100%" type='text' name="problem" id="problem" value="{{item.problem}}"></input>
        </div>
            
        <input type='submit' value="Submit"/>
        <a href="#" id='cancel_edit'>Cancel</a>
    </form>
</div>
{% endblock %}

{% block right_panel %}
<p>Someday, you may even be able to vote for these things...</p>
{% endblock %}

